
<div class="card">
  <div class="card-header text-center">
    <strong>Comments</strong>
  </div>
  <div class="card-body">
    <% article.comments.each do |comment| %>
      <% unless comment.archived? %>
        <h5 class="card-title">
          Commenter: <%= comment.commenter %>
        </h5>

        <p class="card-text">
          Comment: <%= comment.body %>
        </p>
        <%= link_to "delete comment", [comment.article, comment], data: 
          {turbo_method: :delete, turbo_confirm: "you sure?"}, class: "btn btn-danger" %>
        <hr/>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-end">
      <div  style="width: 50%;"><%= render "comments/comments_form", article: @article %>
      </div>
    </div>
  </div>
</div>
