<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand text-white" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Articles", root_path, class: "nav-link active text-white" %>
        <a class="nav-link text-white" href="#">Events</a>
        <a class="nav-link text-white" href="#">About Us</a>
        <a class="nav-link text-white" href="#">Contact Us</a>
      </div>
    </div>
  </div>
</nav>