
<br>
<table class="table table-hover table-striped">
  <thead class="bg-dark bg-opacity-75 text-white text-center">
    <tr>
      <td ><h3>Articles</h3></td>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <tr>
        <td><%= link_to article.title, article %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= link_to "New Article", new_article_path, class: "btn btn-primary" %>